<div class="row">
  <div class="col-6" class="form-group">
    <label for="userName">User Name </label>
    <input
      id="userName"
      name="userName"
      type="text"
      class="form-control"
      placeholder="User Name"
      class="msg-input"
      [(ngModel)]="userName"
    />
    <input
      type="button"
      class="btn btn-primary"
      (click)="connect()"
      value="connect"
    />
  </div>
</div>

<div calss="row">
  <ul *ngFor="let user of users; index as i">
    <li>
      <a (click)="CallUser(i)">{{ user.userName + "," + user.connectionId }}</a>
    </li>
  </ul>
</div>

<div calss="row">
  <div class="col-6">
    <span>calling from {{ targetUser?.username }}</span>
  </div>
</div>

<div calss="row">
  <div class="col-6 btn-group">
    <div>
      <input
        [hidden]="answerButtonhidden"
        type="button"
        class="btn btn-primary"
        (click)="answerCall(targetUser)"
        value="Answer"
      />
      <input
        [hidden]="cancelButtonhidden"
        type="button"
        class="btn btn-danger"
        (click)="cancelCall(targetUser)"
        value="Canceled"
      />
      <input
        [hidden]="hangupButtonhidden"
        type="button"
        class="btn btn-danger"
        (click)="hangUp()"
        value="hangUp"
      />
    </div>
  </div>
  <div class="col-6"></div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <video autoplay="true" muted id="localVideo"></video>
    <video autoplay="true" id="remoteVideo"></video>
  </div>
</div>

<div class="row">
  <div class="col-6 btn-group">
    <input type="button" class="btn btn-primary" (click)="cam()" value="Cam" />
    <input
      type="button"
      class="btn btn-info"
      (click)="shareScreen()"
      value="Share Screen"
    />
    <input
      type="button"
      class="btn btn-primary"
      (click)="muteVideo()"
      value="Mute Video"
    />
    <input
      type="button"
      class="btn btn-primary"
      (click)="muteAudio()"
      value="Mute Audio"
    />
    <!-- <input
      type="button"
      class="btn btn-dark"
      (click)="record()"
      value="Record"
    /> -->
  </div>
  <audio style="visibility: hidden" id="ringtone" loop>
    <source src="assets/ringtone/ring.mp3" type="audio/mpeg" />
  </audio>
</div>
